PORT=8443
HOST=0.0.0.0
REDIS_URL=redis://127.0.0.1:6379
ADMIN_SECRET=wilfredkimani
DEV_HTTPS=false
DEV_TLS_KEY=./certs/key.pem
DEV_TLS_CERT=./certs/cert.pem
CACHE_MAX_ITEMS=1000
CACHE_DEFAULT_TTL=3600